    <!-- Footer -->

    <div class="ui inverted vertical footer segment" style="padding: 3%; margin-top: 5%">
        <div class="ui center aligned container">
            Copyright &nbsp;
            <i class="far fa-copyright"></i> &nbsp;
            2020 &nbsp; <a href="https://github.com/A1aM0">这里不是杨木易</a>. &nbsp; All rights reserved.

<!--            <div class="ui inverted section divider"></div>-->
            <br>
            <div class="ui horizontal inverted small divided link list">
                <div class="item">Powered by</div>
                <a class="item" href="https://semantic-ui.com/">Semantic UI</a>
                <a class="item" href="https://cloud.tencent.com/">
                    <i class="fas fa-cloud"></i>
                    &nbsp; Tencent Cloud
                </a>
                <a class="item" href="https://github.com/">
                    <i class="fab fa-github-square"></i>
                    &nbsp; Github
                </a>
            </div>
        </div>
    </div>

    <script src="/jquery-3.4.1.min.js"></script>
    <script src="/Semantic-UI-CSS-2.4.1/semantic.min.js"></script>
    <script src="https://cdn.bootcss.com/marked/0.8.2/marked.min.js"></script>
    <script src="/scripts/app.js"></script>
</body>
</html>