<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
<!--    <meta http-equiv="Refresh" content="10" />-->
    <title>
        Blog - Yang Songhao
    </title>
    <link href="/Semantic-UI-CSS-2.4.1/semantic.min.css" rel="stylesheet">
    <link href="https://cdn.bootcss.com/font-awesome/5.13.0/css/all.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/stylesheets/app.css">
    <style type="text/css">
        .ui.footer.segment {
            margin: 3em 0em 0em;
            padding: 5em 0em;
        }

        .ui.main.container {
            margin-top: 2em;
        }
    </style>
</head>
<body>
    <div class="ui inverted large menu">
        <div class="ui container">
            <a href="#" class="header item">
                <i class="fab fa-2x fa-blogger" style="margin-right: 1.1em"></i>
            </a>
            <a href="http://127.0.0.1:3000/" class="item">HOME</a>
            <div class="ui simple dropdown item">
                NOTES
                <i class="dropdown icon"></i>
                <div class="menu">
                    <a class="item" href="http://127.0.0.1:3000/notes-catalogue">Study Notes</a>
                    <a class="item" href="#">Gossip</a>
                </div>
            </div>
            <a href="#" class="item">ABOUT</a>
            <div class="right menu">
                <a class="item" href="http://127.0.0.1:3000/contact">CONTACT ME</a>
                <a href="#" class="item disabled"></a>
            </div>
        </div>
    </div>
