<%- include('partials/header') %>

<div class="ui main text container">

    <div class="ui header">
        <h1>About Me</h1>
    </div>

    <table class="ui celled definition very padded table">
        <tbody>
            <tr class="center aligned">
                <td class="six wide">First Name</td>
                <td>Songhao（松皓）</td>
            </tr>
            <tr class="center aligned">
                <td>Last Name</td>
                <td>Yang（杨）</td>
            </tr>
            <tr class="center aligned">
                <td>Place of Residence</td>
                <td>Shaan Xi, Xi'an, PRC</td>
            </tr>
            <tr class="center aligned">
                <td>Education Experience</td>
                <td>
                    Undergraduate: XIDIAN UNIVERSITY <br>
                    Major: Electronic Information Engineering
                    <br><br>
                    Master's: XIDIAN UNIVERSITY (in reading) <br>
                    Major: Software Engineering
                </td>
            </tr>
            <tr class="center aligned">
                <td>Email</td>
                <td>
                    <a href="mailto:songhao_yang@stu.xidian.edu.cn">songhao_yang@stu.xidian.edu.cn</a>
                </td>
            </tr>
        </tbody>
    </table>



</div>

<%- include('partials/footer') %>
