<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="Refresh" content="3" />
    <title>
        Home Page - Yang Songhao
    </title>
    <link href="Semantic-UI-CSS-2.4.1/semantic.min.css" rel="stylesheet">
    <link rel="stylesheet" href="stylesheets/app.css">
</head>
<body id="homeBody">
    <div class="ui left fixed vertical menu inverted" style="width: 25%;">
        <div class="item">
            <img class="ui medium image centered rounded" src="/imgs/avatar.jpg">
        </div>
        <div class="item">
            <h2 class="ui center aligned header inverted">杨松皓</h2>
            <table class="ui fixed single line table center aligned inverted" style="background: inherit; font-size: 1.3rem">
                <tr>
                    <td class="five wide column">学校</td>
                    <td class="eleven wide column">西安电子科技大学</td>
                </tr>
                <tr>
                    <td>专业</td>
                    <td>
                        电子信息工程（本科）
                        <br>
                        <br>
                        软件工程（硕士）
                    </td>
                </tr>
                <tr>
                    <td>联系方式</td>
                    <td><a href="mailto:songhao_yang@stu.xidian.edu.cn">Email: Xidian Edu</a></td>
                </tr>
                </tbody>
            </table>
        </div>
        <div class="item" style="padding-left: 43%">
                <a href="https://github.com/A1aM0"><i class="github icon"></i> </a>
                <a href="mailto:songhao_yang@stu.xidian.edu.cn"><i class="mail icon"></i> </a>
        </div>
    </div>

    <div class=" ui four column grid">
        <div class="row">
            <div class="column"></div>
            <div class="column"></div>
            <div class="column">
                <h1 class="ui center aligned header" style="margin-top: 50%; font-size: 4em">
                    杨松皓的主页
                </h1>
            </div>
            <div class="column"></div>
        </div>
    </div>

    <div style="width: 75%; margin-left: 25%">
        <div class="ui link cards">
            <div class="card">
                <div class="image">
                    <img src="../images/avatar2/large/matthew.png">
                </div>
                <div class="content">
                    <div class="header">Matt Giampietro</div>
                    <div class="meta">
                        <a>Friends</a>
                    </div>
                    <div class="description">
                        Matthew is an interior designer living in New York.
                    </div>
                </div>
                <div class="extra content">
                    <span class="right floated">
                        Joined in 2013
                    </span>
                    <span>
                        <i class="user icon"></i>
                        75 Friends
                    </span>
                </div>
            </div>
        </div>
    </div>



    <script src="jquery-3.4.1.min.js"></script>
    <script src="Semantic-UI-CSS-2.4.1/semantic.min.js"></script>
    <script src="scripts/app.js"></script>
</body>
</html>