<%- include('partials/header') %>

<div class="ui main text container segment">

    <div class="ui huge header">
        NEW BLOG
    </div>
    <form action="new" method="post" class="ui form">
        <div class="field">
            <label>Title</label>
            <input type="text" name="blog[title]" placeholder="Title">
        </div>
        <div class="field">
            <label>Abstract</label>
            <input type="text" name="blog[abstract]" placeholder="Abstract">
        </div>
        <div class="field">
            <label>Blog Content</label>
            <textarea rows="20" name="blog[body]" placeholder="Main text here!"></textarea>
        </div>

        <div class="field">
            <select class="ui dropdown" name="blog[blogType]">
                <option value="">Type of Blog</option>
                <option value="note">Note</option>
                <option value="gossip">Gossip</option>
            </select>
        </div>

<!--        <input type="button" name="blog[blogType]">-->
        <input class="ui green basic button" type="submit" value="Submit">
    </form>

</div>

<%- include('partials/footer') %>
