<%- include('partials/header') %>

<div class="ui main text container">
    <div class="ui breadcrumb">
        <a class="section" href="/">HOME</a>
        <i class="right chevron icon divider"></i>
        <div class="active section">New</div>
    </div>
</div>

<div class="ui main text container segment">

    <div class="ui huge header">
        NEW BLOG
    </div>
    <form action="new" method="post" class="ui form" id="blogForm">
        <div class="field">
            <label>Title</label>
            <input type="text" name="blog[title]" placeholder="Title">
        </div>
        <div class="field">
            <label>Abstract</label>
            <input type="text" name="blog[abstract]" placeholder="Abstract">
        </div>
        <div class="field">
            <label>Blog Content</label>
            <textarea rows="20" name="blog[body]" placeholder="Main text here!" id="newBlogBody"></textarea>
        </div>

        <div class="field">
            <select class="ui dropdown" name="blog[blogType]" id="blogType">
                <option value="">Type of Blog</option>
                <option value="note">Note</option>
                <option value="gossip">Gossip</option>
            </select>
        </div>
        <div class="ui negative message" id="typeErr" style="display: none">
            <div class="header">
                Select correct type of blog!
            </div>
        </div>

<!--        <input type="button" name="blog[blogType]">-->
        <input class="ui green basic button" type="submit" value="Submit">
    </form>

</div>

<%- include('partials/footer') %>
