a {
    color: inherit;
}

#homeBody {
    /*background: url("https://images.unsplash.com/photo-1542878447-e2b6df2526fa?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2016&q=80");*/
    background: url("../imgs/homepage.jpg");
    background-size: 75% 100%;
    -webkit-background-size: 75% 100%;
    /*-moz-background-size: ;*/
    background-repeat: no-repeat;
    background-position: right;
}

